<section class="whats">
  <div class="whats__container">
    <h2 class="whats__title">What is Local SEO?</h2>
    <div class="whats__body">
      <p class="whats__body_text">
        Local SEO refers to optimizing a website and online content to rank
        better for geographic and location-based searches in search engine
        results pages (SERPs). The goal is to appear prominently when potential
        customers search for local products, services, or businesses on Google,
        Bing, and other search engines. For instance, when someone searches for
        "Italian restaurants near me," local SEO helps drive web traffic by
        getting your business to show up in the map pack result and/or top
        organic search results for that local query. Unlike regular SEO which
        focuses on ranking well for broad keywords, local SEO is all about
        optimizing for hyperlocal searches like: [location] + [business type or
        service] [business type or service] + near me [business name] +
        [location] So if you run an Italian restaurant in San Diego, your local
        SEO would revolve around ranking for searches like “Italian restaurants
        San Diego”, “Italian restaurants near me”, and “Luigi’s San Diego” (if
        Luigi’s was your restaurant name).
      </p>
      <a
        class="whats__body_link"
        href="https://www.seobanda.com/"
        target="_blank"
        >Contacts
        <svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.18683 13.2579C0.737724 13.707 0.737724 14.4351 1.18683 14.8842C1.63593 15.3333 2.36407 15.3333 2.81317 14.8842L1.18683 13.2579ZM15.1708 2.05023C15.1708 1.4151 14.6559 0.90023 14.0208 0.90023L3.67082 0.90023C3.03569 0.90023 2.52082 1.4151 2.52082 2.05023C2.52082 2.68536 3.03569 3.20023 3.67082 3.20023L12.8708 3.20023L12.8708 12.4002C12.8708 13.0354 13.3857 13.5502 14.0208 13.5502C14.6559 13.5502 15.1708 13.0354 15.1708 12.4002L15.1708 2.05023ZM2.81317 14.8842L14.834 2.8634L13.2076 1.23706L1.18683 13.2579L2.81317 14.8842Z"
            fill="#0532CF"
          /></svg
      ></a>
    </div>
  </div>
</section>
